.container{
    width: 50%;
    margin: auto;
}
.detail{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail_image{
    width: 100%;
}
.content{
    width: 100%;
}